.resetPwd-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.email-input {
  width: 340px;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 18px;
  padding-left: 10px;
}

.resetPwd-form p {
  font-size: 18px;
  color: #383838;
}

.resetPwd-button {
  width: 350px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  background-color: #ba7149;
  color: white;
  line-height: 42px;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.resetPwd-button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #ffffff;
  transition: all 0.3s ease;
}

.resetPwd-button:hover {
  color: #ba7149;
  border: 1px solid #ba7149;
}

.resetPwd-button:hover:after {
  top: 0;
  height: 100%;
}

.resetPwd-button:active {
  top: 2px;
}
