@media screen and (min-width: 720px) and (max-width: 1024px){
    #root {
    zoom:0.7
    }
    .header-container{
      width: 1000px !important;
    }
    .footer{
      gap:100px !important
    }
    .footer-container{
      margin-top: 80px !important
    }
    .container{
      max-width: 1000px !important; 
    }

    .mainImg img{
      width: 900px !important;
    }
    .imgWrapper {
      width: 1000px !important;
      height: 400px !important;
      
    }
    .slider-container {
      height: 400px !important;
    }
    .board-card-list .card-list {
      zoom: 0.8;
  }
   .board-card-list  .cardList-title{
    font-size: 25px !important;
    line-height: 50px !important;
    margin-right: 30px !important;
  }
  .main-card-list .card-list {
    zoom: 0.8 !important;
 /*   display: grid !important;
   grid-template-columns: 1fr 1fr !important;   */
}
  .board-card-list .card-title-box{
/*     width: 0; */
   justify-content: center !important;

  }
  .list-total-count{
    font-size: 25px !important;
    font-weight: bold;

  }
  .write-go {
    zoom: 1.3 !important;
  }
  
   }
    @media screen and (min-width: 300px) and (max-width: 720px){
      #root {
      zoom:0.4
      }
      .header-container{
        width: 800px !important;
      }
      .footer{
        gap:50px !important
      }
      .footer-container{
        margin-top: 120px !important
      }
      .container{
        max-width: 800px !important; 
      }

      .mainImg img{
        width: 800px !important;
      }
      .imgWrapper {
        width: 800px !important;
        height: 300px !important;
        
      }
      .slider-container {
        height: 300px !important;
      }
      .board-card-list .card-list {
        grid-template-columns: 1fr !important; 
        zoom:1.8;
      text-align: center;
    }
     .board-card-list  .cardList-title{
      font-size: 25px !important;
      line-height: 50px !important;
      margin-right: 30px !important;
    }
    .main-card-list .card-list {
      zoom: 0.6 !important;
   /*   display: grid !important;
     grid-template-columns: 1fr 1fr !important;   */
  }
    .board-card-list .card-title-box{
  /*     width: 0; */
     justify-content: center !important;

    }
    .list-total-count{
      font-size: 25px !important;
      font-weight: bold;

    }
    .write-go {
      zoom: 1.3 !important;
    }
    }
    