/* RecipeDetail.css */

.recipe_detail_main {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  color: #606060;
}

.recipe_detail_image_container {
  width: 100%;
  /* 가로세로 비율 */
  aspect-ratio: 3 / 1;
}

.recipe_detail_image_container > img {
  display: block;
  width: 100%;
  height: 100%;
  /* object 가 종횡비를 유지하면서 정의된 너비와 높이를 가득 채울 때까지 확대 */
  object-fit: cover;
  /* object 중앙에 위치 */
  object-position: center;
}

.recipe_detail_summary {
  padding: 40px;
  text-align: center;
}

.recipe_detail_summary > h2 {
  margin: 0;
  /* 글자 크기 */
  font-size: 28px;
  /* 글씨 굵게 */
  font-weight: 600;
}

.recipe_detail_summary > p {
  /* \n 입력 시 줄바꿈이 적용되도록 처리 */
  white-space: pre-line;
  margin: 10px 0;
}

.recipe_detail_info {
  display: flex;
  /* 왼쪽 끝과 오른쪽 끝에 배치하는 방식 */
  justify-content: space-between;
  margin-top: 24px;
  width: 100%;
  max-width: 690px;
  margin: 0 auto;
}

.recipe_detail_info > div {
  /* 요소 자기 자신을 기준으로 배치 */
  position: relative;
  flex: 1;
}

.recipe_detail_info > div:not(:last-child)::after {
  content: "";
  width: 2px;
  height: 20px;
  background-color: #bababa;
  /* 부모 요소를 기준으로 배치 */
  position: absolute;
  right: 0;
  top: 35px;
}

.recipe_detail_info > div > div {
  margin-top: 10px;
}

.recipe_detail_ingre {
  padding: 40px 0;
  font-size: 18px;
  text-align: center;
}

.recipe_detail_ingre > .title {
  font-weight: 600;
  font-size: 20px;
  margin-right: 40px;
}

.recipe_detail_step,
.recipe_detail_reply {
  width: 100%;
  max-width: 640px;
  padding: 40px 0;
  margin: 0 auto;
}

.recipe_detail_step > .title {
  font-size: 24px;
  font-weight: 600;
}

.recipe_detail_step_item > p {
  margin: 20px 0px;
  font-size: 18px;
}

.recipe_detail_step_item > img {
  display: block;
  width: 100%;
  height: auto;
}

.recipe_detail_step_item > .ingre_container {
  margin-top: 10px;
}

.recipe_detail_step_item > .ingre_container > div {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
}

.recipe_detail_step_item > .ingre_container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.recipe_detail_insight {
  margin-top: 40px;
  display: flex;
  gap: 12px;
  font-size: 14px;
}

.recipe_detail_user {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 26px;
}

.recipe_detail_user > div:has(img) {
  width: 70px;
  height: 70px;
  border-radius: 40px;
  /* div 에 담긴 사진에서 div 를 넘어서는 영역은 숨긴다 */
  overflow: hidden;
}

.recipe_detail_user > div > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.recipe_detail_user > .title {
  font-weight: 600;
}

.recipe_detail_user > button {
  background-color: transparent;
  background-color: #666666;
  border: none;
  color: #f4f4f4;
  padding: 4px 14px;
  border-radius: 30px;
  font-size: 12px;
}

.recipe_detail_user > button > span {
  display: flex;
  align-items: center;
  /* 자식 요소들 간 간격 조정 */
  gap: 4px;
}

.recipe_detail_user > button > span > svg {
  display: block;
}

.recipe_detail_reply > .title {
  font-size: 18px;
  font-weight: 600;
}

.recipe_detail_reply > .input {
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  gap: 20px;
}

.recipe_detail_reply > .input > div {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  overflow: hidden;
}

.recipe_detail_reply > .input > div > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.recipe_detail_reply > .input > input {
  flex: 1;
  border: 1px solid #b1b1b1;
  border-radius: 10px;
  padding: 0 60px 0 10px;
  outline: none;
}

.recipe_detail_reply > .input > button {
  position: absolute;
  background-color: #ffffff;
  border: none;
  top: 15px; right: 16px;
  font-size: 16px;
}

/* .recipe_detail_reply_item {
  margin-top: 30px;
  display: flex;
  gap: 38px;
}

.recipe_detail_reply_item > .image_container {
  margin-top: 8px;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}

.recipe_detail_reply_item > .image_container > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.recipe_detail_reply_item .insight {
  display: flex;
  gap: 10px;
  color: #aeaeae;
}

.recipe_detail_reply_item .insight > span:first-child {
  color: #606060;
}

.recipe_detail_reply_item p {
  white-space: pre-line;
  margin: 0;
  margin-top: 8px;
} */

.recipe_detail_divider {
  width: 100%;
  height: 1px;
  background-color: #adadad;
}

/* 
.paginate {
  margin-top: 50px;
  width: 100%;
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.page-item {
  margin: 0 4px;
}

.selected {
  background-color: #909090;
  color: #ffffff;
  border-radius: 6px;
}

.page-link {
  padding: 5px 10px 7px 10px;
  width: 10px;
  display: block;
  font-size: 18px;
  text-align: center;
  line-height: 1;
  cursor: pointer;
}

.np {
  width: 30px;
  height: 30px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 6px;
}

.page-item svg {
  display: block;
  width: 16px;
  height: 16px;
} 
*/