.mainImg-upload-button {
    display: flex;
    height: 400px; /* 추가: 최대 높이 지정 */
    width: 70%; /* 추가: 최대 너비 지정 */
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    background-color: rgb(235, 235, 235);
    border: 1px solid lightgrey !important;
    cursor: pointer;
    overflow: auto;
} 

.recipe-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -50px auto !important;
    width: 70%;
}

.sub-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.subImgs-upload-button {
    display: flex;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    background-color: rgb(235, 235, 235);
    border: 1px solid lightgrey !important;
    cursor: pointer;
}
.selected-files {
    display: flex;
    align-items: center;
    overflow: auto;
    width: 100%;
    height: 40px;
    border: none;
    border-top: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-bottom: 1px solid lightgrey !important;
}

.scroll::-webkit-scrollbar {
	display:none;
}

.file-name {
    padding-left: 10px;
    margin-right: 5px;
    white-space: nowrap !important ;
}

.button-container {
    display: flex; /* 요소들을 가로 방향으로 배치 */
    justify-content: flex-end; /* 왼쪽 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
    width: 100%;
}
.submit-button {
    width: 130px;
    height: 50px;
    font-size: 22px;
    font-weight: 500;
    line-height: 42px;
    color: #ba7149;
    background-color: white;
    border: 1px solid #ba7149 !important;
    cursor: pointer;
    margin-left: 10px;
}
.cancel-button {
    width: 130px;
    height: 50px;
    font-size: 22px;
    font-weight: 500;
    line-height: 42px;
    color: red;
    background-color: white;
    border: 1px solid red !important;
    cursor: pointer;
    margin-left: 10px;
}