.profile-container {
  width: 300px;
  height: 400px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; /* 왼쪽 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  padding: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 1px solid #d3d3d3;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;

  margin-right: 20px;
}

.profile-info h2 {
  font-size: 25px;
  font-weight: 800;
}

.profile-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.likes img {
  width: 15px;
  height: 15px;
}

.followers span {
  margin: 15px;
}

.followers {
  font-size: 15px;
  margin-top: 25px;
  text-align: center;
  align-items: center;
}

.followers span:first-child::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: lightgray;
  margin: 0 15px;
  vertical-align: middle;
  position: absolute;
}

.likes span {
  font-size: 18px;
  margin-left: 10px;
}

.bio {
  font-size: 18px;
}

.profile-info hr {
  width: 250px;
  margin: 30px auto !important;
}

.likes {
  margin-top: 20px;
}
