.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    border-top: 1px solid lightgray;
    background-color: #eeeeee;
    margin-top: 250px;
}


.footer{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 300px;
}


.left > h3 {
  font-size: 16px;
  line-height: 28px;
}
.left > h2{
  padding-bottom: 10px;
  font-size: 25px;
  line-height: 50px;
  font-weight: bold;
}
.left > h2 > span {
  font-size: 13px;
  margin-left: 8px;
  font-weight: 100; 
}

.btnContent {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.btnContent > span {
      width: 110px;
      height: 40px;
      border: 1px solid #b8b8b8;
      border-radius: 3px;
      line-height: 40px;
      text-align: center;
      margin-right: 12px;
      font-size: 12px;
      cursor: pointer;
}
.btnContent > p {
  font-size: 12px;
  color: #a1a1a1;
  line-height: 16px;
}

.middle {
  position: relative; /* 상대 위치 설정 */
}


.navbar {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    margin-bottom: 25px;
    gap: 25px;
    line-height: 28px;
}
.navbar > li {
  font-size: 14px;
  cursor: pointer;
}

.right {
  display: flex; /* 가로 배치를 위해 flex 설정 */
  align-items: stretch; /* 아이템들을 컨테이너 높이에 맞춤 */
}

.member {
  flex: 1;
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  padding: 0 20px;
}
.member > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px; /* 아래에 5px 마진 추가 */
}
.member > ul {
  flex: 1; /* 아이템들이 높이에 맞게 꽉 차게 설정 */
  display: flex;
  flex-direction: column;
  gap: 25px;
  line-height: 28px;
}

.member-info {
  display: flex;
  align-items: center;
}
.member-info > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px; /* 이미지와 텍스트 사이 간격 조절 */
}
      
.copy {
    width: 100%;
    text-align: center;
    background-color: lightgray;
    padding: 22px 0 30px;
    font-size: 12px;
    color: #8f8f8f;
}