.imgWrapper {
  width: 1280px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  border-radius: 20px; /* imgWrapper의 테두리를 둥글게 만듦 */
}

.image {
  width: 100%;
  height: auto;
  position: relative;
  top: -10%;
  border-radius: 20px; /* img의 테두리를 둥글게 만듦 */
}

.board-title {
  font-size: 28px;
  margin: 40px 0 40px 0;
  font-weight: bold;
}

.MainPage .card-img {
  border-radius: 50%;
}
