.my-page-card-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.my-page-card {
  margin-right: 20px;
}

.my-page-card:nth-child(4) {
  margin-right: 0 !important;
}

.my-page-cardList-title {
  margin: 10px 0 20px;
  font-size: 17px;
  line-height: 30px;
}

.my-page-card-title-box {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.my-page-card-list .my-page-card {
  margin-right: 0;
}

.my-page-card-list .my-page-card-img {
  width: 250px;
  height: 250px;
}

.my-page-card-list .my-page-card-title-box {
  width: 280px;
}
.my-page-card-list .my-page-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.my-page-list-top {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 20px;
}

.my-page-list-total-count {
  font-size: 20px;
  margin: 10px 28px 0 0;
}

.my-recipe-button {
  width: 90px;
  height: 40px;
  font-size: 15px;
  background-color: #ffffff;
  color: #ff6a10;
  border: 1px solid #ff6a10;
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.my-party-button {
  width: 90px;
  height: 40px;
  font-size: 15px;
  background-color: #ffffff;
  margin-left: 10px;
  font-weight: 700;
  color: #ff6a10;
  border: 1px solid #ff6a10;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.my-recipe-button.active {
  background-color: #ff6a10;
  color: #ffffff;
  border: none;
}

.my-party-button.active {
  background-color: #ff6a10;
  color: #ffffff;
  border: none;
}
