<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.party_post.post_like.dao.LikesMapper">

    <!-- 좋아요 추가 -->
    <insert id="insertLike">
        INSERT INTO party_like_table (user_num, post_id)
        VALUES (#{userNum}, #{postId})
    </insert>

    <!-- 좋아요 삭제 -->
    <delete id="deleteLikeByUserAndPost">
        DELETE FROM party_like_table WHERE user_num = #{userNum} AND post_id = #{postId}
    </delete>

    <!-- 특정 게시글에 대한 좋아요 갯수 조회 -->
    <select id="countLikesByPostId" resultType="int">
        SELECT COUNT(*) FROM party_like_table WHERE post_id = #{postId}
    </select>

    <!-- 현재 사용자가 특정 게시글에 좋아요를 눌렀는지 확인 -->
    <select id="isLikedByUser" resultType="boolean">
        SELECT COUNT(*) FROM party_like_table WHERE user_num = #{userNum} AND post_id = #{postId}
    </select>

</mapper>