<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.recipe.board.dao.BoardMapper">

    <!--검색 조건-->
    <sql id="searchCondition">
        <choose>
            <!--writer가 null이 아닌 경우에만 실행-->
            <when test="userNickname != null">
                <!--rcp_writer값에 부분적으로 일치하는 것을 모두 검색-->
                SELECT r.*
                FROM recipe r
                JOIN user u ON r.user_num = u.user_num
                WHERE u.user_nickname LIKE '%'||#{userNickname}||'%'
            </when>
        </choose>
    </sql>

    <!--게시글 & 메인 이미지 저장-->
    <insert id="insertRcp" parameterType="com.project.recipe.board.dto.BoardDto" useGeneratedKeys="true" keyProperty="rcpNum">
        INSERT INTO recipe
            (user_num, pet_num, rcp_title, rcp_content, serving_size, cooking_time,
            cooking_level, ingredients, rcp_viewCount, rcp_regdate, main_path)
        VALUES
            (#{userNum}, #{petNum}, #{title}, #{content}, #{servingSize}, #{cookingTime},
            #{cookingLevel}, #{ingredients}, #{viewCount}, CURRENT_TIMESTAMP, #{mainPath})
    </insert>

    <!--게시글 & 메인 이미지 수정-->
    <update id="updateRcp" parameterType="com.project.recipe.board.dto.BoardDto">
        UPDATE recipe
        SET rcp_title=#{title}, rcp_content=#{content}, serving_size=#{servingSize},
            cooking_time=#{cookingTime}, cooking_level=#{cookingLevel},
            ingredients=#{ingredients}, main_path=#{mainPath}
        WHERE rcp_num=#{rcpNum}
    </update>

    <!--게시글 삭제-->
    <delete id="deleteRcp" parameterType="int">
        DELETE FROM recipe
        WHERE rcp_num=#{rcpNum}
    </delete>

    <!--게시글 & 메인 이미지 목록 조회-->
    <select id="getList" parameterType="com.project.recipe.board.dto.BoardDto" resultType="com.project.recipe.board.dto.BoardDto">
        SELECT
            r.rcp_num AS rcpNum, r.user_num AS userNum, r.rcp_title AS title,
            r.main_path AS mainPath, u.user_nickname AS userNickname
        FROM recipe r
        JOIN user u ON r.user_num = u.user_num
        <include refid="searchCondition"/> <!--검색조건 포함-->
        ORDER BY r.rcp_num DESC
<!--        LIMIT #{startRowNum}, #{endRowNum}-->
    </select>

    <!--게시글 상세 조회-->
    <select id="getDetail" parameterType="int" resultType="com.project.recipe.board.dto.BoardDto">
        SELECT
            r.rcp_num AS rcpNum, r.user_num AS userNum, r.rcp_title AS title, r.rcp_content AS content,
            r.serving_size AS servingSize, r.cooking_time AS cookingTime, r.cooking_level AS cookingLevel,
            r.ingredients, r.rcp_viewCount AS viewCount, r.rcp_regdate AS regdate,r.main_path AS mainPath,
            u.user_nickname AS userNickname
        FROM recipe r
        JOIN user u ON r.user_num = u.user_num
        WHERE r.rcp_num=#{rcpNum}
    </select>

    <!--나의 글 조회-->
    <select id="getMyList" parameterType="com.project.recipe.board.dto.BoardDto" resultType="com.project.recipe.board.dto.BoardDto">
        SELECT
            r.rcp_num AS rcpNum, r.user_num AS userNum,
            r.rcp_title AS title, r.main_path AS mainPath,
            u.user_nickname AS userNickname
        FROM recipe r
        JOIN user u ON r.user_num = u.user_num
        WHERE r.user_num = #{userNum}
        ORDER BY r.rcp_num DESC
        <!--        LIMIT #{startRowNum}, #{endRowNum} -->
    </select>

    <!--카테고리 별 게시물 조회-->
<!--    <select id="getByCategory" parameterType="" resultType="">-->
<!--        SELECT r.rcp_num AS rcpNum, r.user_num AS userNum, r.rcp_title AS title,-->
<!--        r.main_path AS mainPath, u.user_nickname AS userNickname-->
<!--        FROM recipe r-->
<!--        JOIN user u ON r.user_num = u.user_num-->
<!--        JOIN pet_type p ON r.pet_num = p.pet_type_id-->
<!--        WHERE r.pet_num = #{petNum}-->
<!--    </select>-->

    <!--조회수 증가-->
    <update id="addViewCount" parameterType="int">
        UPDATE recipe
        SET rcp_viewCount=rcp_viewCount+1
        WHERE rcp_num=#{rcpNum}
    </update>

    <!--게시글 개수-->
<!--    <select id="getCount" parameterType="com.project.recipe.board.dto.BoardDto" resultType="int">-->
<!--        SELECT COUNT(*)-->
<!--        FROM recipe-->
<!--        <include refid="searchCondition"/>-->
<!--    </select>-->

    <!--나의 게시글 개수-->
<!--    <select id="getRcpCount" parameterType="int" resultType="int">-->
<!--        SELECT COUNT(*)-->
<!--        FROM recipe-->
<!--        WHERE user_num=#{userNum}-->
<!--    </select>-->

</mapper>