.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-container h1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  margin-top: 80px;
  margin-bottom: 3px;
  font-size: 24px;
  font-weight: 700;
}

.signup-container hr {
  width: 370px;
  margin-top: 25px;
  margin-bottom: 35px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.signup-form input {
  width: 360px;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin-top: 3px;
  margin-bottom: 20px;
  font-size: 15px;
  padding-left: 10px;
}

.emailCheck-button {
  width: 370px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  background-color: #ba7149;
  color: white;
  line-height: 42px;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 20px;
}

.emailCheck-button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #ffffff;
  transition: all 0.3s ease;
}

.emailCheck-button:hover {
  color: #ba7149;
  border: 1px solid #ba7149;
}

.emailCheck-button:hover:after {
  top: 0;
  height: 100%;
}

.emailCheck-button:active {
  top: 2px;
}

.signup-span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #404040;
  width: 370px;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
}

.signup-span2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
}

.signup-pets {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup-pets label {
  display: inline-block;
  line-height: 30px;
  width: 370px;
}

.signup-pets input {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.signup-agree {
  display: flex;
  justify-content: center;
  width: 370px;
  height: 250px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}

.signup-agree label {
  margin: 2px;
  margin-left: 50px;
  font-size: 15px;
}

.signup-agree input {
  margin-right: 8px;
  width: 13px;
  height: 13px;
  margin-top: 16px;
}

.signup-button {
  width: 370px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  background-color: #ba7149;
  color: white;
  line-height: 42px;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.signup-button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #ffffff;
  transition: all 0.3s ease;
}

.signup-button:hover {
  color: #ba7149;
  border: 1px solid #ba7149;
}

.signup-button:hover:after {
  top: 0;
  height: 100%;
}

.signup-button:active {
  top: 2px;
}
